.product_main {
    display: flex;
    /* border: 1px solid red; */
    width: 100vw;
    /* height: auto; */
    flex-direction: row;
    overflow: hidden;

    .product_main_left {
        display: flex;
        /* border: 1px solid green; */
        width: 25%;
        align-items: center;
        margin-top: 100px;
        height: 800px;
        overflow-y: auto; /* Enable scrolling if content overflows */
        flex-direction: column; /* Ensure content stacks vertically */

        .product_main_left_inner {
            display: flex;
            /* border: 1px solid red; */
            height: auto;
            width: 70%;
            top: 0;
            flex-direction: column;
            align-items: center;

            .product_main_left_inner_brand {
                display: flex;
                justify-content: center;
                /* border: 1px solid purple; */
                border-bottom: 1px solid rgb(224, 221, 221);
                /* height: 30px; */
                width: 94%;
                /* align-items: center; */
                flex-direction: column;
                margin-top: 10px;
                position: sticky;

                .product_main_left_inner_brand_heading {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 30px;
                    /* border: 1px solid yellow; */
                }

                .product_main_left_inner_brand_subparts {
                    display: flex;
                    flex-direction: row;
                    padding-left: 10px;
                    margin-bottom: 8px;

                    & label {
                        padding-left: 5px;
                    }
                }
            }
            .product_main_left_inner_model {
                display: flex;
                justify-content: center;
                /* border: 1px solid purple; */
                border-bottom: 1px solid rgb(224, 221, 221);
                /* height: 30px; */
                width: 94%;
                /* align-items: center; */
                flex-direction: column;
                margin-top: 10px;

                .product_main_left_inner_model_heading {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 30px;
                    /* border: 1px solid yellow; */
                }

                .product_main_left_inner_model_subparts {
                    display: flex;
                    flex-direction: row;
                    padding-left: 10px;
                    margin-bottom: 8px;

                    & label {
                        padding-left: 5px;
                    }
                }
            }
            .product_main_left_inner_size {
                display: flex;
                justify-content: center;
                /* border: 1px solid purple; */
                border-bottom: 1px solid rgb(224, 221, 221);
                /* height: 30px; */
                width: 94%;
                /* align-items: center; */
                flex-direction: column;
                margin-top: 10px;

                .product_main_left_inner_size_heading {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 30px;
                    /* border: 1px solid yellow; */
                }

                .product_main_left_inner_size_subparts {
                    display: flex;
                    flex-direction: row;
                    padding-left: 10px;
                    margin-bottom: 8px;

                    & label {
                        padding-left: 5px;
                    }
                }
            }
            .product_main_left_inner_color {
                display: flex;
                justify-content: center;
                /* border: 1px solid purple; */
                border-bottom: 1px solid rgb(224, 221, 221);
                /* height: 30px; */
                width: 94%;
                /* align-items: center; */
                flex-direction: column;
                margin-top: 10px;

                .product_main_left_inner_color_heading {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 30px;
                    /* border: 1px solid yellow; */
                }

                .product_main_left_inner_color_subparts {
                    display: flex;
                    flex-direction: row;
                    padding-left: 10px;
                    margin-bottom: 8px;

                    & label {
                        padding-left: 5px;
                    }
                }
            }
        }
    }

    .product_main_right {
        display: flex;
        /* border: 1px solid blue; */
        width: 73%;
        float: right;
        height: auto;
        flex-direction: column;

        .product_main_right_heading_outer {
            display: flex;
            /* border: 1px solid red; */
            width: 100%;
            height: 40px;
            margin-top: 40px;
            justify-content: center;
            
            .product_main_right_heading_inner {
                display: flex;
                /* border: 1px solid purple; */
                justify-content: center;
                align-items: center;
                height: 100%;
                width: auto;
                
                h1 {
                    font-weight: 400px;  
                }
            }

        }
        .product_main_right_description {
            display: flex;
            /* border: 1px solid green; */
            margin-top: 30px;
            width: 100%;
            height: auto;
            padding: 10px 0;
            line-height: 20px;
        }

        .product_main_right_helmets_sub {
            display: flex;
            width: 100%;
            /* border: 1px solid red; */
            margin-top: 20px;
            height: 250px;
            justify-content: space-between;

            .product_main_right_helmets_sub_first_container {
                display: flex;
                height: 100%;
                width: 250px;
                /* border: 1px solid green; */
                justify-content: center;
                align-items: center;

                .product_main_right_helmets_sub_first_container_img {
                    display: flex;
                    height: 100%;
                    width: 100%;
                    position: relative;
                    /* justify-content: center;
                    align-items: center; */
                    overflow: hidden;
                    transition: transform 1.2s ease;

                    img  {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        filter: brightness(90%);
                        transition: transform 1.2s ease;
                    }
                }

                .product_main_right_helmets_sub_first_container_content {
                    display: flex;
                    position: absolute;
                    /* border: 1px solid yellow; */
                    height: auto;
                    width: 180px;
                    color: #fff;
                    font-size: larger;
                    justify-content: center;
                    align-items: center;
                    letter-spacing: 2px;
                }

                &:hover .product_main_right_helmets_sub_first_container_img img {
                    transform: scale(1.1); /* Increase the size of the image on hover */
                    filter: brightness(80%);
                }
            }
        }

        .product_main_right_product {
            display: flex;
            /* border: 1px solid red; */
            /* padding: 20px; */
            height: auto;
            width: 100%;
            margin-top: 30px;
            flex-wrap: wrap;
            justify-content: center;

            .product_main_right_product_cart {
                display: flex;
                /* border: 1px solid blue; */
                height: 300px;
                width: 200px;
                margin: 20px 10px;
                flex-direction: column;
                cursor: pointer;

                .product_main_right_product_cart_img {
                    display: flex;
                    /* border: 1px solid green; */
                    width: 100%;
                    height: 200px;
                    position: relative;
                    justify-content: center;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        background: none;
                    }

                    .product_main_right_product_cart_img_button {
                        display: flex;
                        position: absolute;
                        width: 90%;
                        /* border: 1px solid red; */
                        /* color: #fff; */
                        bottom: 0;
                        justify-content: center;
                        align-items: center;
                        height: 30px;
                        background-color: #d2ec15;
                        transition: transform 0.6s ease, opacity 0.3s ease, visibility 0.3s ease;
                        opacity: 0;
                        visibility: hidden;
                    }
                }

                .product_main_right_product_cart_content {
                    display: flex;
                    /* border: 1px solid red; */
                    width: 100%;
                    height: 100px;
                    flex-direction: column;

                    .product_main_right_product_cart_content_name {
                        display: flex;
                        text-align: center;
                        width: 100%;
                        font-size: medium;
                        /* border: 1px solid blue; */
                        margin-top: 10px;
                        letter-spacing: 2px;
                        color: rgb(84, 82, 82);
                    }

                    .product_main_right_product_cart_content_price {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        /* border: 1px solid purple; */
                        color: red;
                        margin-top: 5px;
                    }
                }

                &:hover .product_main_right_product_cart_img_button {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(-10px);
                }
            }
        }
    }
}